-# frozen_string_literal: true

- flag_class = session_info_for(@comment.id, 'comments')[:flagged] ? ' fc-red-500' : ' fc-black-300 o40 h:fc-red-500 h:o100'

%button{ class: "s-btn s-btn__unset c-pointer#{flag_class}", title: 'Flag this comment for serious problems or moderator attention', data: { action: 'click->comments#flag' } }
  %svg.svg-icon.iconFlag{ width: '18', height: '18', viewbox: '0 0 18 18' }
    %path{ d: 'M3 2v14h2v-6h3.6l.4 1h6V3H9.5L9 2H3Z' }
