-# frozen_string_literal: true

.s-modal--dialog
  %span.s-modal--header &nbsp;
  %p.fs-body3 Call or text Chip:
  %p.s-modal--body 616-528-8140
  %button.s-modal--close.s-btn.s-btn__muted{ 'data-action': 's-modal#hide' } X

