-# frozen_string_literal: true

.s-modal--dialog.bg-black-500.fc-white
  %span.s-modal--header &nbsp;
  %p.fs-body3 Call or text Chip:
  %p.s-modal--body.fc-white 616-528-8140
  %button.s-modal--close.s-btn.s-btn__muted.bg-black-500.fc-white{ 'data-action': 's-modal#hide' } X

