-# frozen_string_literal: true

- pencil = 'm11.1 1.71 1.13 1.12c.2.2.2.51 0 .71L11.1 4.7 9.21 2.86l1.17-1.15c.2-.2.51-.2.71 0ZM2 10.12l6.37-6.43 1.88 1.88L3.88 12H2v-1.88Z'

.s-sidebarwidget.s-sidebarwidget__yellow.s-anchors.s-anchors__grayscale.mb16
  .d-block.p0.m0
    %ul.d-block.p0.m0
      %li.s-sidebarwidget--header.s-sidebarwidget__small-bold-text.d-flex.fc-black-600.d:fc-black-900.bb.bbw1
        The ChipOverflow Blog
      %li.s-sidebarwidget--item.d-flex.px16
        .flex--item1.fl-shrink0
          %svg.va-text-top.svg-icon.iconPencilSm{ height: '14', viewbox: '0 0 14 14', width: '14' }
            %path{ d: pencil }
        .flex--item.wmn0.ow-break-word
          %a{ href: '#' } Experience vs. Education: when your perfect candidate didn't follow the collegiate path.
      %li.s-sidebarwidget--item.d-flex.px16
        .flex--item1.fl-shrink0
          %svg.va-text-top.svg-icon.iconPencilSm{ height: '14', viewbox: '0 0 14 14', width: '14' }
            %path{ d: pencil }
        .flex--item.wmn0.ow-break-word
          %a{ href: '#' } New survey shows most devs plan to submit willingly to the singularity.
      %li.s-sidebarwidget--header.s-sidebarwidget__small-bold-text.d-flex.fc-black-600.d:fc-black-900.bb.bbw1
        Featured on Meta
      %li.s-sidebarwidget--item.d-flex.px16
        .flex--item1.fl-shrink0
          .favicon.favicon-stackexchangemeta{ title: 'Meta Stack Exchange' }
        .flex--item.wmn0.ow-break-word
          %a{ href: '#' } Why West Michigan is the epicenter of progressive software development
      %li.s-sidebarwidget--item.d-flex.px16
        .flex--item1.fl-shrink0
          .favicon.favicon-stackexchangemeta{ title: 'Meta Stack Exchange' }
        .flex--item.wmn0.ow-break-word
          %a{ href: '#' } DHH: "Trains are dumb!"; RoR 8.0 will be called 'Ruby on Racetracks'
      %li.s-sidebarwidget--item.d-flex.px16
        .flex--item1.fl-shrink0
          .favicon.favicon-stackoverflowmeta{ title: 'Meta Stack Overflow' }
        .flex--item.wmn0.ow-break-word
          %a{ href: '#' } Friends don't let friends post coding questions on Reddit
      %li.s-sidebarwidget--item.d-flex.px16
        .flex--item1.fl-shrink0
          .favicon.favicon-stackoverflowmeta{ title: 'Meta Stack Overflow' }
        .flex--item.wmn0.ow-break-word
          %a{ href: '#' } Windows 12 will set default code editor to PowerPoint
      %li.s-sidebarwidget--header.s-sidebarwidget__small-bold-text.d-flex.fc-black-600.d:fc-black-900.bb.bbw1
        Hot Meta Posts
      %li.s-sidebarwidget--item.d-flex.px16
        .flex--item1.fl-shrink0
          %span.fc-black-500{ title: 'Question score' } 934
        .flex--item.wmn0.ow-break-word
          %a{ href: '#' } TicTok users are trying this one weird trick that software companies don't want you to know about.
      %li.s-sidebarwidget--item.d-flex.px16
        .flex--item1.fl-shrink0
          %span.fc-black-500{ title: 'Question score' } 10
        .flex--item.wmn0.ow-break-word
          %a{ href: '#' } Can companies get mad if you intentionally mimic their CSS? Asking for a friend...
